{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="mail-box">
        <aside id="navbar" class="sm-side">
            <div class="user-head">
            <div class="user-name">
                <h5><a href="#">{{ user.username }}</a></h5>
                <span><a href="#">{{ request.user.email }}</a></span>
            </div>
        </div>
            <div class="inbox-body">
                <button class="btn btn-compose" id="compose">Compose</button>
            </div>
            <ul class="inbox-nav inbox-divider">
                <li class="active">
                    <a id="inbox" href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger">
                        {% for i in inbox %}
                        {{i.id__count }}
                    {% endfor %}</span></a>
          
                  </li>
                  <li>
                    <a id="sent" href="#"><i class="fas fa-envelope"></i> Sent Mail</a>
                  </li>
                  <li>
                    <a id="archived" href="#"><i class="fas fa-bookmark"></i> Archive</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}"><i class=" fas fa-sign-out-alt"></i> Log Out </a>
                  </li>

            </ul>
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <label for="bars" class="bar">
                <i id="bars" class="fas fa-bars"></i>
            </label>
                <form action="#" class="pull-right position">
                    <div class="input-append">
                        <input type="text" id="inp" class="sr-input" onkeyup="search()" placeholder="Search" name="" id="">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
            
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                <h3 id="inbox-h3"></h3>
                <div class="mail-option">
                   
                <div id="message">
                </div>
                <div id="mail">
        
                </div>
                <table class="table table-inbox table-hover">
                    <tbody id="emails-view">

                    </tbody>
                </table>
                <div id="compose-view">
                    <h3>New Email</h3>
                    <form id="compose-form">
                        <div class="form-group">
                            From: <input disabled class="form-control" value="{{ request.user.email }}">
                        </div>
                        <div class="form-group">
                            To: <input id="compose-recipients" class="form-control">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="compose-subject" placeholder="Subject">
                        </div>
                        <textarea class="form-control" rows="15" id="compose-body" placeholder="Body"></textarea>
                        <input id="sent-btn" type="submit" class="btn btn-primary"/>
                    </form onsubmit="send_mail()">
                </div>
            </div>
        </aside>
    </div>
</div>
<!-- Previous -->
      
    

    
    
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}